__pycache__/
*.pyc

# Environment
.env
backend/.env

# Python
.venv/
.pytest_cache/

# Database
*.db
smart_event.db

# Generated QR files
generated_qr/

# Node
node_modules/
frontend/node_modules/

# Next.js
frontend/.next/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

frontend.zip